body{
    margin: 0;
}

.stikyHeader{
    position: fixed;
    top: 0;
    width: 100%;
}

.headerUpper{
    background-color: #232f3e;
    height: 70px;
    width: auto;
}

.headerLower{
    background-color: #3b5472;
    height: 30px;
    text-align: center;
    color: white;
}

.whiteText{
    color: white;
}

h2{
    margin: 15px;
    margin-left: 20px;
}

h3{
    margin: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
}

h4{
    margin: 5px;
    margin-left: 25px;
}

.searchBar{
    font-size: 20px;
    width: 68%;
    height: 41px;
    padding: 0px 15px;
}

.searchBarButton{
    font-size: 22px;
    width: 12%;
    height: 47px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
  
    color:rgb(15, 15, 15)
}

.searchBarButton:hover{
    background-color: orange;
    border: solid 2px rgb(236, 183, 84);
    color:rgb(0, 0, 0)
}

.categorySelect{
    background-color:rgb(250, 219, 181);
    padding-left: 5px;
    font-size: 16px;
    width: 20%;
    height: 45px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.menuElement{
    align-self: center;
    align-items: center;
}

.adminMode{
    padding-top: auto;
    padding-bottom: auto;
    text-align: right;
}

.adminModeButton{
    background-color: #232f3e;
    color: #ebe9e9;
    font-size: 18px;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.adminModeButton:hover{
    background-color: #172a41;
    border-color: white;
    color: white;
}

.specialInfo{
    height:60px;
}

.marginLT10{
    margin-top: 10px;
    margin-left: 10px;
}

.marginT100{
    margin-top: 100px;
}

.margin0{
    margin:0px;
}

.orangeBG{
    background-color: rgb(245, 169, 29);
}

.W700{
    width:700px;
}



.marginB2{
    margin-bottom:3px;
}

.wrapContainer{
    flex-wrap: wrap;
    flex-direction:row;
    margin: 20px;
}

.productInfoContainer{
    padding: 35px;
    width: 380px;
    height: 500px;
    border-bottom: 1px solid rgb(214, 209, 209);
    margin-bottom: -1px;
    transition-duration: 0.4s;
}

.productImg{
    height: 250px;
    max-height: 250px;
    width: auto;
    max-width: 350px;
}

.flex{
    display: flex;
}

.justifySpaceAround{
    justify-content: space-evenly;
}

.justifyCenter{
    justify-content: center;
}

.filterPanel{
    width: 200px;
    border-right: solid 2px gray;
    flex: none;
}

img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.review{
    margin: 20px;
    margin-left:25px;
}

.hidden{
    visibility: hidden;
}

.editorContainer{
    border: solid;
    padding: 10px;
    width: 850px;
    margin-left:200px;
}

.editorSection{
    border: outset;
    margin-bottom: 10px;
}

.productList{
    border-top: 1px solid rgb(141, 145, 151);
    border-bottom: 1px solid rgb(141, 145, 151);
}

.blueBg{
    background-color: rgb(215, 230, 240);
}

.productListItem{
    width: 150px;
    overflow: hidden;
    padding: 2px;
}

.W230{
    width:250px;
}

.id{
    padding-left: 5px;
}

.deleteButtonDiv{
    width: 80px;
    margin: 5px;
    margin-left: auto;
}

.deleteButton{
    background-color: rgb(236 242 255);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.deleteButton:hover{
    background-color: rgb(184, 206, 253);
}

.addtiem{
    height:25px;
    display: flex;
    padding: 5px;
    margin-bottom: 0px;
    width: max-content;
}

.text{
    padding-left: 5px;
    width: 100px;
    align-self: center;
}

.addButton{
    margin: 10px;
    margin-left:20px;
    padding: 5px;
}
