body{
    margin: 0;
}

.stikyHeader{
    position: fixed;
    top: 0;
    width: 100%;
}

.headerUpper{
    background-color: #232f3e;
    height: 70px;
    width: auto;
}

.headerLower{
    background-color: #3b5472;
    height: 30px;
}

.whiteText{
    color: white;
}

.menuElement{
    align-self: center;
    align-items: center;
}

.searchBar{
    font-size: 20px;
    width: 68%;
    height: 41px;
    padding: 0px 15px;
}

.searchBarButton{
    font-size: 22px;
    width: 12%;
    height: 47px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.categorySelect{
    background-color:rgb(250, 219, 181);
    font-size: 16px;
    width: 20%;
    height: 45px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.specialInfo{
    height:60px;
}

.marginLT10{
    margin-top: 10px;
    margin-left: 10px;
}

.marginT100{
    margin-top: 100px;
}

.orangeBG{
    background-color: orange;
}

.marginL30{
    margin-left:20px;
}

.pinkBG{
    background-color: pink;
}

.noMarkers{
    list-style-type: none;
}

.W700{
    width:700px;
}

.W230{
    width:230px;
    height:100%
}

.orange{
    color: orange;
}

.marginB2{
    margin-bottom:3px;
}

.wrapContainer{
    flex-wrap: wrap;
    flex-direction:row;
    overflow: hidden;
    margin: 20px;
}

.productInfoContainer{
    padding: 35px;
    width: 380px;
    height: 500px;
    border-bottom: 1px solid rgb(161, 160, 160);
    margin-bottom: -1px;
}

.productImg{
    height: 250px;
    max-height: 250px;
    width: auto;
    max-width: 350px;
}

.flex{
    display: flex;
}

.justifySpaceAround{
    justify-content: space-evenly;
}

.justifyCenter{
    justify-content: center;
}

.filterPanel{
    width: 200px;
    border-right: solid 2px gray;
    flex: none;
}

img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

h2{
    margin: 15px;
    margin-left: 20px;
}

h3{
    margin: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
}

h4{
    margin: 5px;
    margin-left: 25px;
}

.review{
    margin: 20px;
    margin-left:25px;
}